body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color:  rgba(231, 231, 231, 0.35) !important;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.wmd-panel{
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}