{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Keep a note. Keep hacking ideas.</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <h5><p>Toki is a simple note taking Django project. It was developed to act as a Hands-on and increase my experience with a MVC framework(MTV as in the case of Django).</p></h5>
    <h5><p>I was interested in Django from the first time I searched about and after a little investigation I choose Django as the base for this project.</p></h5>
    <br>
    <br>
    <ul class="list-group"><h2>Features of Toki - keep a Note</h2>
      <li class="list-group-item">customize notes using the markdown editor.You dont need to know markdown the editor will help you.</li>
      <li class="list-group-item">Save, Update, Delete notes</li>
      <li class="list-group-item">support for code blocks and highlighting</li>
      <li class="list-group-item">Fully responsive. use any device and always find the best layout.</li>
    </ul>
    <br>
    <br>
    <ul class="list-group"><h2>Things I like about Django.</h2>
      <li class="list-group-item">Lots and lots of quality packages</li>
      <li class="list-group-item">Full featured web framework</li>
      <li class="list-group-item">Great community support and excellent documentation</li>
       <li class="list-group-item">Really good ORM. It was really easy to work with DB.</li>
      <li class="list-group-item">You can very quickly make a functional web app when you want to test your ideas.</li>
    </ul>
    <br>
    <br>
    <ul class="list-group"><h2>Things I Learned</h2>
      <li class="list-group-item">Working with a MVC or you can say MTV.</li>
      <li class="list-group-item">By doing this project I can to know how Django works and what power does it has.</li>
      <li class="list-group-item">integrating differnt packages into a single project</li>
      <li class="list-group-item">Database operations on a RDBMS</li>
      <li class="list-group-item">hosting and configuring the project on pythonanwhere.com</li>
    </ul>
     <h4> <p>for more details about the project and the source, you can get it on github  <a href="https://github.com/shubhamnishad97/toki-keep-a-note">Link</a></p></h4>
     <img class="img-responsive" src="{% static 'toki-screenshots/desktop/notesIndex.PNG' %}">
     <img class="img-responsive" src="{% static 'toki-screenshots/desktop/addNotes.PNG' %}">
     <img class="img-responsive" src="{% static 'toki-screenshots/desktop/editOrDelete.PNG' %}">
     <img class="img-responsive" src="{% static 'toki-screenshots/desktop/userProfile.PNG' %}">
     <img class="img-responsive" src="{% static 'toki-screenshots/desktop/adminUserLayout.PNG' %}">
     <h4> <p>for more info go to the github page.  <a href="https://github.com/shubhamnishad97/toki-keep-a-note">Link</a></p></h4>
	</div>
</div>


{% endblock container %}

