{% extends 'notesBase.html' %}
{% load static %}
{% block body %}
 
{% load crispy_forms_tags %}

{% block head_extra %}
{{form.media}}
{% endblock head_extra %}
<div class="jumbotron">
	<h1 align='center'>Create New Note!</h1>
</div>



<div class='col-md-12'>
	<form action="" method="post">{% csrf_token %}
	{{form|crispy}}
	<input type='submit' value='Create New Note!' class='btn btn-primary btn-lg btn-block' />
	</form>
</div>

{% if note %}
<div class="col-md-12" style="padding-top:15px">
    <form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="control" value="delete" />
    <input type="submit" value="Delete" class="btn btn-lg btn-block btn-danger" />
    </form>
</div>
{% endif %}

<script type='text/javascript'>
$('input[type="text"]').addClass('form-control');
$('textarea').addClass('form-control');
$('select').addClass('form-control');
</script>

{% endblock body %}