{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
           <p class="element"></p>
    {% if not user.is_authenticated %}      
    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
    <button class="btn btn-primary" onclick="myFunction()">login without account</button>
    {% else %}
    <a class="btn btn-primary" href="{% url 'notes:index' %}">Notes</a>
    {% endif %}
    <div id="details" style="color: black;"></div>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Use it everywhere</h3>
      <p>Your notes stay updated across all your devices. No buttons to press. It just works. </p>
      
    </div>
    <div class="col-lg-4">
      <h3>Stay organized</h3>
      <p>Find notes quickly with instant searching and simple tags. Share a list, post some instructions, or publish your thoughts. </p>
      
    </div>
    <div class="col-lg-4">
      <h3>Markdown Support</h3>
      <p>With Markdownn support, its easy to write articles/ notes with rich text formatting</p>
      
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script type="text/javascript">
  function myFunction() {
    $('#details').html("<span>username:fake@gmail.com</span><p>   </p><span>password:fake</span>");

}
</script>

<script src="{% static 'site/js/site.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
     <script type="text/javascript">
        var typed3 = new Typed('.element', {
           strings: ["Keep a note","Keep hacking ideas","Keep dreaming"],
           typeSpeed: 100,
           backSpeed: 100,
           smartBackspace: true, // this is a default
           loop: true,
           
         });
    </script>
{% endblock scripts %}
