{% extends 'notesBase.html' %}
{% load static %}
{% block body %}


<div class='col-md-9'>
{% if notes %}
    <h3 class="page-header" align='center'>Notes</h3>
    <ul class="list-group">
    {% for note in notes %}
     <li class="list-group-item">
     <h3>
        <a href="{% url 'notes:addnote' %}?id={{note.id}}">{{note.label}}</a>
        <h6 align="right"><a  href="{% url 'notes:addnote' %}?id={{note.id}}">update or delete</a></h6>
    </h3>


    <div class="content-markdown">{{note.body}}</div>
     </li>   
    {% endfor %}
    </ul>

{% else %}
    <div class='alert alert-warning' align='center'>
        <h3>No Notes Yet!</h3>
    </div>
{% endif %}
</div>

<div class='col-md-3'>
    <h3 class="page-header" align='center'>Tags</h3>
    <ul class="list-group">
        {% if tags %}
            {% for tag in tags %}
            <li class="list-group-item">
                <a href="{% url 'notes:addtag' %}?id={{tag.id}}">{{tag}}</a>
            </li>
            {% endfor %}
        {% else %}
            <div class='alert alert-warning'>No tags yet!</div>
        {% endif %}
    </ul>
</div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('.content-markdown').each(function(){
            var content = $(this).text();
            var markedContent = marked(content);
            $(this).html(markedContent);
        })
        
      })
    </script>
{% endblock body %}